.idea
####
# Django
####
*.log
*.pot
*.pyc
__pycache__/

####
# Environments
####
.venv/
venv/
#.env
####
# Unit Test & Coverage Reports
####
htmlcov/
.coverage
.pytest_cache

###
# Database Schema
###
*.sqlite3
Asset_Tracker/migrations
schema.yml

### Static Files
staticfiles/
```